.product-content {
    display: grid;
    grid-template-columns: .75fr 1fr;
    padding: 70px 16px;
    grid-gap: 3.75em;
    height: 100vh;
}
.product-list {
    width: 100%;
    height: 100%;   
    display: flex;
    flex-direction: column;
}

.product-list .list-box-container {
    height: 100%;
    overflow-y: auto;
}

.product-form {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.search-box {
    position: relative;
    align-self: flex-start;
    display: flex;
    width: 100%;
    margin: 1.3em 0 .32em 0;
    justify-content: space-between;
}
.search-box input {
    background-color: #ffffff;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.25); 
    border-radius: 10px;
    padding: 1.2em 4em 1em 1.2em;
    width: 100%;
    outline: 0;
    border: none;
}
.search-box .svg-search {
    position: absolute;
    pointer-events: none;
    bottom: 10%;
    transition: 1s;
    right: 5%;
}
.product-list .list-box {
    background-color: #252525;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    border-radius: 10px;
}
.product-null {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    height: 100%;
}
.product-item {
    cursor: pointer;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.25); 
    background-color: #3D3D3D;
    margin: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: .8rem 1rem;
}
.product-item .left-item {
    display: flex;
    flex-direction: column;
    height: 40px;
    justify-content: space-between;
    width: 50%;
    color: #ffffff;
}
.product-item .right-item {
    height: 40px;
    display: flex;
    justify-content: space-between;
    width: 40%;
    color: #ffffff;
}
.product-item:hover {
    background-color: #858585;
    animation: scaleOut .3s ease forwards;
}
.modal-shadow {
    background-color: rgba(0,0,0,0.55);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
}
.modal-box {
    top: 0;
    transition: .5s;
    left: 40%;
    bottom: 0;
    opacity: 0;
    position: absolute;
    pointer-events: none;
    width: 350px;
    display: flex;
    position: absolute;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em;
    background-color: #ffffff;
    border-radius: 10px;
    height: 350px;
    z-index: 3;
}
.show-modal {
    pointer-events: all;
    top: 30%;
    opacity: 1;
}
.category-action {
    align-self: flex-start;
    width: 225px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1em .8em;
}

.category-action h2 {
    font-size: 24px;
    align-self: flex-start;
}

.category-action .back {
    cursor: pointer;
}

.form-modal {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 250px;
    height: 100%;
}

.form-modal .category-form-modal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: max-content;
    height: 100%;
}

.category-form-modal .list-category {
    width: 90%;
    height: 200px;
    overflow-y: auto;
}

.category-form-modal .list-category-item {
    background-color: #f1f1f1;
    width: calc(100% - 1px);
    margin: 1em 0;
    padding: .3em;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.25);
    text-align: center;
    cursor: pointer;
}

.category-form-modal .list-category-item:hover {
    background-color: #dddddd;
}


.form-group-modal{
    width: 100%;
}

.form-group-modal input {
    width: 100%;
    padding: .8em;
}

.export-group {
    display: flex;
    justify-content: center;
}

.category-action .back svg:hover path {
    fill: #252525;
}

.category-action .delete-category:hover  path,
.category-action .save-category:hover .fill-svg {
    fill: var(--color1);
}
.button-form {
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-float-group {
    width: 40%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.button-form .add,
.button-form .edit,
.button-form .trash,
.button-form .export {
    cursor: pointer;
}

.button-form .add:hover .add-svg,
.button-form .edit:hover .edit-svg,
.button-form .trash:hover path,
.button-form .export:hover path{
    fill: var(--color1);
}

.form-box {
    box-shadow: 4px 4px 4px rgba(0,0,0,0.25);
    background-color: #ffffff;
    height: 100%;
    border-radius: 10px;
}
.form-box .boxed {
    padding: 1em;
    height: 100%;
}

.form-group {
    position: relative;
    width: 291px;
    margin: 0 1rem;
}

.form-group > select {
    outline: 0;
    font-size: 1rem;
    width: 100%;
    padding: .5em 0;
}

.form-group input {
    font-size: 1rem;
    width: 100%;
    outline: 0;
    padding: .5em 0;
    border: none;
    border-bottom: 1px solid #252525;
}

.form-group input:read-only ~ label,
.form-groups input:read-only ~ label,
.form-groups input:valid ~ label,
.form-groups input:focus ~ label,
.form-group input:valid ~ label,
.form-group input:focus ~ label {
    font-size: 12px;
    transform: translate(0, -100%);
}

.form-group label {
    position: absolute;
    transition: .3s;
    left: 0;
    pointer-events: none;
}
.form-groups label {
    position: absolute;
    transition: .3s;
    left: 0;
    pointer-events: none;
}
.form-groups {
    position: relative;
    margin: 1em;
}
.form-groups > input {
    font-size: 1rem;
    width: 100%;
    outline: 0;
    padding: .5em 0;
    border: none;
    border-bottom: 1px solid #252525;
}
.form-group > textarea {
    font-size: 1rem;
    resize: none;
    width: 100%;
    height: 60px;
    outline: 0;
}
.form-group > select:focus,
.form-groups > select:focus,
.form-group > textarea:focus {
    border: 1px solid #007BFF;
    box-shadow: 0 0 0 .15rem rgba(63, 132, 242, 0.55)
}

.pagination-product {
    position: absolute;
    left: 2%;
    height: 15% !important;
    bottom: 1%;
}

@media only screen and (max-width: 1279px) {
    .product-content {
        grid-template-columns: auto;
    }
    .product-list .list-box {
        overflow-x: hidden;
    }
}